/* @styled-jsx=global */

@font-face {
  font-family: 'Font';
  font-display: block;
  src: url('./font.woff2') format('woff2'), url('./font.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font2';
  font-display: block;
  src: url('./font.woff2') format('woff2'), url('./font.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  background: lightblue url('./image.png') no-repeat fixed center;
}

footer {
  background: url('./image.png');
}

main {
  background: url(./image.png);
}

div {
  background: url(image.png);
}

.class {
  background: url(./image.png);
}

/* .class {
  background: url(./image.png);
} */

span {
  background: url('https://www.danielhusar.sk/image.png');
}

@keyframes slidein {
  from {
    background: url(./image.png);
  }

  to {
    background: url(./image.png);
  }
}
